.side{
    top:100px;
    height: calc(100% - 100px);
    width: 150px;
    background-color: rgb(55, 55, 55);
    position: fixed;
    overflow: auto;
}
.side::-webkit-scrollbar{
    display: none;
}
.menu{
    position: relative;
    color: aliceblue;
    top: 1%;
    left: 5%;
    width: 90%;
}
.menu a{
    display: block;
    color: white;
    padding: 10px;
}
.menu a:hover{
    display: block;
    background-color: rgb(240, 248, 255, 0.1) ;
}
.menu ul{
    padding: 10px;
    border-bottom: 1px solid aliceblue;
}
.menu ul li{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}




